:root {
	--background: #080708;
	--foreground: #EBF5EE;
	--text: var(--foreground);
	--accent: #78A1BB;
}

* {
	outline: none;
}

body {
	overflow-x: hidden;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fira Mono', monospace;
	justify-content: space-between;
	height: 100%;
	padding: 0px 2vw;
}

nav {
	position: fixed;
	top: 0;
	width: 100vw;
	min-height: 50px;
	height: 10vh;
	background-image: linear-gradient(var(--background),#00000000);
}

nav a {
	padding: 0px 10px;
	font-size: 1.5em;
	text-decoration: none;
	color: var(--text);
	transition: 0.2s;
	border-bottom: 0px solid #00000000;

}

nav a:hover {
	transition: 0.2s;
	color: var(--accent);
	border-bottom: 8px solid var(--accent);
}

.links {
	height: 100%;
	display: flex;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--background);
	color: var(--text);
	height: 100%;
	width: 100%;
}

.content {
	margin: 30vh 10vw;
	display: flex;
	flex-direction: column;
}

.header {
	font-family: 'Fira Sans', sans-serif;
	font-size: 5em;
}

.subheader {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
}

.textbox {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
}

.secondary {
	color: var(--accent);
}

.hamburger {
	display: none;
}

.hamburger-items {
	transition: 0.2s;
	position: absolute;
	z-index: 2;
	top: max(+50px, 10vh);
	right: -500px;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	border-radius: 10px;
	padding: 0 10px 10px 10px;
}

.hamburger-items a {
	padding: 10px 10px;
	margin-left: auto; 
	margin-right: 0;
}

.hamburger-items:first-child {
	padding: 0
}

.hamburger-items:last-child {
	padding: 0
}

@media only screen and (max-width: 580px) {
	.links { display: none; }
	.hamburger { display: unset; }
	nav a:hover { border-bottom: none; }

}

@media only screen and (max-width: 400px) {
	.hide {
		display: none;
	}
	.smaller {
		transition: 0.2s;
		font-size: 3em;
	}
	.smaller-subheader {
		transition: 0.2s;
		font-size: 1.5em;
	}
	.smaller-textbox {
		transition: 0.2s;
		font-size: 1em;
	}
	.smaller-icons {
		transition: 0.2s;
		font-size: 1em;
	}
}

.menu-button {
	font-family: 'Fira Mono', monospace;
	font-size: 1.5em;
	background-color: #00000000;
	border: none;
	color: var(--text);
	cursor: pointer;
}

.menu-button:hover {
	transition: 0.2s;
	color: var(--accent);
}

.icon-container {
	display: flex;
	flex-direction: row;
	margin: 10px 0 20px 0;
}

.icon-container a {
	color: var(--text);
	text-decoration: none;
}

.icon-container a:hover {
	transition: 0.2s;
	color: var(--accent);
}

.icon-div {
	margin: 0 10px 0 0;
}

.inner-icon-div {
	height: 100%;
	display: flex;
}

.icon-container i {
	text-align: center;
	font-size: 2.5em;
}