@import "../colors.css";

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Fira Mono', monospace;
    font-size: 2em;
}
a {
    color: var(--accent);
    text-decoration: none;
}