* {
	font-family: "Roboto", sans-serif;
	scrollbar-width: none;
	outline: none;
}

.theme-dark2 {
	--color1: #22223b;
	--color2: #4a4e69;
	--color3: #c9ada7;
	--color4: #f2e9e4;
	--color5: #9a8c98;
	--init: #000000;
	--dock: #f2e9e488;
}

.theme-light2 {
	--color1: #f2e9e4;
	--color2: #c9ada7;
	--color3: #4a4e69;
	--color4: #22223b;
	--color5: #9a8c98;
	--init: #ffffff;
	--dock: #22223b88;
}

.svg {
	transition: 1s;
	fill: var(--color1);
	stroke: var(--color1);
}

.svgcolor {
	transition: 1s;
	background-color: var(--color2);
}

.svg2 {
	transition: 1s;
	fill: var(--color2);
	stroke: var(--color2);
}

.svgcolor2 {
	transition: 1s;
	background-color: var(--color1);
}

* i {
	font-family: "FontAwesome", sans-serif;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--color1);
}

.main {
	height: 100vh;
	min-height: 500px;
}

.home {
	background-color: var(--color1);
	transition: 1s;
}

.home {
	width: 100%;
	background-image: url("./background-1789175.png");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about {
	transition: 1s;
	background-color: var(--color1);
}

.footer {
	transition: 1s;
	background-color: var(--color1);
	height: 50vh;
}

.work {
	transition: 1s;
	background-color: var(--color2);
}

.contact {
	transition: 1s;
	background-color: var(--color2);
}

.action-button {
	margin: auto;
	background: #00000000;
	height: 50px;
	color: var(--color4);
	border: none;
	border-radius: 0.5vw;
	border: 0.2vw solid var(--color4);
	cursor: pointer;
	font-size: 2vw;
	height: 4vw;
	padding: 0.2vw;
}

.card-action-button:hover {
	background: var(--color5);
	transition: 0.1s;
}

.sub-cards {
	display: grid;
	margin-top: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.sub-card {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--color4);
	border-radius: 50px;
	margin-bottom: 10px;
	font-size: 1rem;
}

.sub-card:hover {
	background-color: var(--color3);
	transition: 0.2s;
	color: var(--color2);
}

.sub-card .secondary-info {
	color: var(--color4);
}

@media only screen and (max-width: 550px) {
	.project-card {
		grid-template-areas:
			"image image"
			"text text"
			"links links" !important;
		grid-template-rows: 1fr 1fr 0.2fr !important;
		grid-template-columns: 1fr 1fr !important;
	}

	.project-text {
		border: none !important;
	}

	.project-links {
		border-left: none !important;
	}

	.sub-cards {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.main-text-size {
		font-size: 6vw !important;
	}

	.title {
		font-size: 8vw !important;
	}

	.action-button {
		font-size: 4vw !important;
		height: 6vw !important;
	}

	.sub-link-i {
		font-size: 5vw !important;
	}
}

.container {
	display: grid;
	grid-template-rows: 9fr 1fr;
	max-height: 100vh;
	width: 100vw;
}

.project-card {
	margin: 10px;
	display: grid;
	grid-template-areas:
		"image text"
		"image links";
	grid-template-rows: 9fr 1fr;
	grid-template-columns: 2fr 1fr;
	background: var(--color1);
}

.project-image {
	grid-area: image;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.project-text {
	border-left: 3px solid var(--color2);
	grid-area: text;
	color: var(--color4);
}

.project-links {
	border-left: 3px solid var(--color2);
	grid-area: links;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 2px solid var(--color3);
}

.project-button {
	text-decoration: none;
	color: var(--color3);
	text-align: center;
	margin: auto;
}

.projects {
	padding: 100px;
	display: grid;
}

.project-text-header {
	font-weight: bold;
	padding: 10px;
	font-size: 1.5rem;
}

.project-text-info {
	padding: 10px;
	font-size: 1rem;
}

.project-text-list {
	list-style: none;
	padding-left: 5px;
}

.tag {
	margin-left: 5px;
	font-size: 1rem;
	font-weight: normal;
	color: gray;
}

.sub-link {
	display: flex;
	align-items: center;
}

.sub-link-i {
	font-size: 2vw;
	padding: 15px;
}

.theme-button {
	color: var(--color1);
	cursor: pointer;
	background-color: #00000000;
	border: none !important;
	margin: auto;
	padding: auto;
}

.title {
	transition: 1s;
	font-size: 6vw;
	color: var(--color3);
	font-weight: bold;
}

.main-text-size {
	font-size: 4vw;
}

.main-text {
	transition: 1s;
	color: var(--color4);
}

.theme-switcher {
	position: fixed;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 50px;
	outline: none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.theme-switcher-animation {
	transition: 1s;
	top: 0 !important;
	right: 0 !important;
	background-color: var(--color4);
	width: 50px !important;
	height: 50px !important;
}

.theme-switcher i {
	transition: 1s;
	color: var(--color1);
	margin: 0 0 15px 15px;
}

.nav {
	position: fixed;
	width: 0px;
	height: 0px;
	border-bottom-right-radius: 50px;
	outline: none;
	border: none;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.nav-animation {
	transition: 0.5s;
	top: 0 !important;
	left: 0 !important;
	background-color: var(--color4);
	width: 50px !important;
	height: 50px !important;
}

.list {
	display: none;
	opacity: 0%;
}

.nav i {
	transition: 1s;
	color: var(--color1);
	margin: 8px 15px 15px 8px;
}

.nav:hover {
	border-radius: 5px;
	width: 200px !important;
	height: 200px !important;
}

.nav:hover .list {
	transition: 1s;
	display: unset;
	opacity: 100%;
}

.nav:hover .list button {
	transition: 1s;
	display: unset;
	opacity: 100%;
}

.list button {
	position: relative;
	opacity: 0%;
	display: none;
	overflow: hidden;
	color: var(--color1);
	background-color: #00000000;
	border: none;
	cursor: pointer;
	white-space:nowrap;
	font-size: 20px;
	padding: 5px;
}

.list ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
