* {
	font-family: "Roboto", sans-serif;
	scrollbar-width: none;
	outline: none;
}

.note {
	transition: 0.5s;
	color: var(--color4);
}

.theme-dark2 {
	--color1: #22223b;
	--color2: #4a4e69;
	--color3: #c9ada7;
	--color4: #f2e9e4;
	--color5: #9a8c98;
	--moon: none;
	--sun: inline-block;
}

.theme-light2 {
	--color1: #f2e9e4;
	--color2: #c9ada7;
	--color3: #4a4e69;
	--color4: #22223b;
	--color5: #9a8c98;
	--moon: inline-block;
	--sun: none;
}

.svg2 path {
	transition: 0.5s;
	fill: var(--color2);
	stroke: var(--color2);
}

.svg2 {
	transition: 0.5s;
	background-color: var(--color1);
}

.svg1 path {
	transition: 0.5s;
	fill: var(--color1);
	stroke: var(--color1);
}

.svg1 {
	transition: 0.5s;
	background-color: var(--color2);
}

* i {
	font-family: "FontAwesome", sans-serif;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
	background-color: #000000;
}

body {
	margin: 0;
	background-color: var(--color1);
}

.main {
	height: 100vh;
	min-height: 500px;
}

.home {
	background-color: var(--color1);
	transition: 0.5s;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about {
	transition: 0.5s;
	background-color: var(--color2);
}

.work {
	transition: 0.5s;
	background-color: var(--color1);
}

.contact {
	transition: 0.5s;
	background-color: var(--color2);
}

.footer {
	transition: 0.5s;
	background-color: var(--color1);
	height: 50vh;
	display: flex;
	justify-content: center;
}

.action-button {
	transition: 0.5s;
	margin-top: 2vw;
	background: var(--color1);
	color: var(--color4);
	border-radius: 1vw;
	border: 0.2vw solid var(--color4);
	cursor: pointer;
	font-size: 2vw;
	height: 4vw;
	padding: 0.8vw;
}

.action-button:hover {
	color: var(--color2);
	background: var(--color3);
	transition: 0.1s;
}

.sub-cards {
	display: grid;
	margin-top: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.sub-card {
	transition: 0.5s;
	justify-content: center;
	text-decoration: none;
	color: var(--color4);
	border-radius: 50px;
}

.sub-card:hover {
	background-color: var(--color3);
	transition: 0.2s;
	color: var(--color2);
}

.sun {
	display: var(--sun) !important;
	font-family: "Material Icons" !important;
}

.moon {
	display: var(--moon) !important;
	font-family: "Material Icons" !important;
}

@media only screen and (min-width: 2000px) and (max-width: 2999px) {
	.theme-switcher {
		width: 100px !important;
		height: 100px !important;
		border-bottom-left-radius: 200px !important;
	}

	.theme-button {
		font-size: 48px !important;
	}

	.nav {
		width: 100px !important;
		height: 100px !important;
		border-bottom-right-radius: 200px !important;
	}

	.nav i {
		padding: 10px 20px 20px 10px;
		font-size: 48px;
	}

	.nav:hover {
		border-bottom-right-radius: 10px !important;
		width: 200px !important;
		height: 300px !important;
	}

	.nav-button {
		font-size: 30px !important;
	}
}

@media only screen and (min-width: 3000px) {
	.theme-switcher {
		width: 150px !important;
		height: 150px !important;
		border-bottom-left-radius: 200px !important;
	}

	.theme-button {
		font-size: 80px !important;
	}

	.nav {
		width: 150px !important;
		height: 150px !important;
		border-bottom-right-radius: 200px !important;
	}

	.nav i {
		padding: 10px 20px 20px 10px;
		font-size: 80px;
	}

	.nav:hover {
		border-bottom-right-radius: 20px !important;
		width: 300px !important;
		height: 440px !important;
	}

	.nav-button {
		font-size: 48px !important;
	}
}

.nav ul {
	margin: 0 !important;
}

@media only screen and (min-width: 550px) and (max-width: 1999px) {
	.nav:hover {
		border-bottom-right-radius: 5px;
		width: 135px !important;
		height: 185px !important;
	}
}

@media only screen and (max-width: 550px) {
	.sub-cards {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.main-text-size {
		font-size: 6vw !important;
	}

	.title {
		font-size: 8vw !important;
	}

	.action-button {
		font-size: 4vw !important;
		height: 6vw !important;
	}

	.sub-link-i {
		font-size: 5vw !important;
	}

	.action-button {
		height: 8vw !important;
		padding: 0.6vw !important;
	}

	.nav:hover {
		border-bottom-right-radius: 5px;
		width: 135px !important;
		height: 185px !important;
	}
}

.sub-link {
	display: flex;
	align-items: center;
}

.sub-link-i {
	font-size: 2vw;
	padding: 15px;
}

.theme-button {
	color: var(--color1);
	cursor: pointer;
	background-color: #00000000;
	border: none !important;
	margin: 3px 3px 15px 15px;
}

.title {
	transition: 0.5s;
	font-size: 6vw;
	color: var(--color3);
	font-weight: bold;
}

.main-text-size {
	font-size: 4vw;
}

.main-text {
	transition: 0.5s;
	color: var(--color4);
}

.theme-switcher {
	position: fixed;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 50px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: 0.5s;
	top: 0 !important;
	right: 0 !important;
	background-color: var(--color4);
	width: 50px;
	height: 50px;
}

.nav {
	z-index: 1;
	position: fixed;
	width: 0px;
	height: 0px;
	border-bottom-right-radius: 50px;
	outline: none;
	border: none;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	transition: 0.5s;
	top: 0 !important;
	left: 0 !important;
	background-color: var(--color4);
	width: 50px;
	height: 50px;
}

.list {
	display: none;
	opacity: 0%;
}

.nav i {
	transition: 0.5s;
	color: var(--color1);
	margin: 8px 15px 15px 8px;
}

.nav:hover .list {
	transition: 0.5s;
	display: unset;
	opacity: 100%;
}

.nav:hover .list button {
	transition: 0.5s;
	display: unset;
	opacity: 100%;
}

.list button {
	position: relative;
	opacity: 0%;
	display: none;
	overflow: hidden;
	color: var(--color1);
	background-color: #00000000;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	font-size: 20px;
	padding: 5px;
}

.list ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.reveal,
.reveal::after {
	animation-delay: 0;
	animation-delay: var(--animation-delay, 1s);
	animation-iteration-count: 1;
	animation-iteration-count: var(--iterations, 1);
	animation-duration: 800ms;
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal {
	position: relative;
	animation-name: text;
	white-space: nowrap;
	cursor: default;
	text-transform: uppercase;
}

.reveal::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color4);
	transform: scaleX(0);
	transform-origin: 0 50%;
	pointer-events: none;
	animation-name: revealer;
}

@keyframes text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes revealer {
	0%,
	50% {
		transform-origin: 0 50%;
	}
	60%,
	100% {
		transform-origin: 100% 50%;
	}
	60% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

.action {
	display: flex;
	justify-content: center;
}

.arrow-down {
	transition: 0.5s;
	font-size: 3vw;
	color: var(--color4);
}

.arrow-container {
	margin-top: 6vw;
	display: flex;
	justify-content: center;
}

.arrow-button {
	background-color: #00000000;
	border: none;
	cursor: pointer;
}

.h1-fluid {
	font-size: calc(1rem + 3vw);
	line-height: calc(1.4rem + 4.8vw);
}
.h2-fluid {
	font-size: calc(1rem + 2vw);
	line-height: calc(1.4rem + 2.4vw);
}
.h3-fluid {
	font-size: calc(1rem + 1vw);
	line-height: calc(1.4rem + 1.2vw);
}
.h1-fluid {
	font-size: calc(1rem + 0.5vw);
	line-height: calc(1.4rem + 0.6vw);
}

.reveal-nav,
.reveal-nav::after {
	animation-delay: 0;
	animation-delay: var(--animation-delay, 0.2s);
	animation-iteration-count: 1;
	animation-iteration-count: var(--iterations, 1);
	animation-duration: 300ms;
	animation-duration: var(--duration, 300ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-nav {
	position: relative;
	animation-name: text;
	white-space: nowrap;
	cursor: default;
	text-transform: uppercase;
}

.reveal-nav::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00000000;
	transform: scaleX(0);
	transform-origin: 0 50%;
	pointer-events: none;
	animation-name: revealer;
}

.projects {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.project-card {
	transition: 0.5s;
	margin: 30px;
	width: 300px;
	height: 500px;
	background-color: var(--color2);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-text {
	transition: 0.5s;
	padding: 20px;
	padding-top: 5px;
	border-radius: 20px;
	color: var(--color4);
}

.project-content {
	width: 100%;
	height: 100%;
	position: relative;
}

.project-image {
	margin: 10px;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
}

.project-links {
	transition: 0.5s;
	width: 100%;
	display: grid;
	position: absolute;
	bottom: 0;
	grid-template-columns: 1fr 1fr;
}

.project-links a:hover {
	background-color: var(--color2);
	color: var(--color3);
}

.project-text-header {
	line-height: 20px;
	margin-bottom: 10px;
}

.project-links a {
	background: var(--color3);
	transition: 0.5s;
	width: 100%;
	text-decoration: none;
	color: var(--color1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;

}

.project-links a:nth-child(1) {
	border-bottom-left-radius: 20px;
}

.project-links a:nth-child(2) {
	border-bottom-right-radius: 20px;
}

.project-links a:first-of-type {
	transition: 0.5s;
	border-right: 1px solid var(--color2);
}

.project-image-container {
	transition: 0.5s;
	border-radius: 10px;
	width: 95%;
	background-color: var(--color1);
	margin: 10px;
	height: 250px;
	display: flex;
	justify-content: center;
}

.tag {
	transition: 0.5s;
	padding-left: 10px;
	font-size: small;
	color: var(--color3);
}

.section-title {
	transition: 0.5s;
	font-size: 2vw;
	padding-left: 20px;
	color: var(--color4);
}

.footer-text {
	transition: 0.5s;
	color: var(--color4);
	position: absolute;
	font-size: 1.2vw;
	bottom: 0;
	padding-bottom: 15px;
}

.footer {
	position: relative;
}

.project-text-info {
	width: 100%;
	word-wrap: break-word;
}

.more-info {
	justify-content: center;
	position: absolute;
	bottom: 40px;
}

.contact-form span,input,textarea,button {
	display: block;
}

.contact-form span {
	color: var(--color4);
}

.error {
	color: var(--color4);
}

