* {
	font-family: "Roboto", sans-serif;
	scrollbar-width: none;
	outline: none;
}

.theme-light {
	--color1: #eeeeee;
	--color2: #c2bdbd;
	--color3: #d65a31;
	--color4: #222831;
	--init: #ffffff;
}
.theme-dark {
	--color1: #222831;
	--color2: #393e46;
	--color3: #d65a31;
	--color4: #eeeeee;
	--init: #000000;
}

.theme-dark2 {
	--color1: #22223b;
	--color2: #4a4e69;
	--color3: #c9ada7;
	--color4: #f2e9e4;
	--color5: #9a8c98;
	--init: #000000;
	--dock: #f2e9e488;

}

.theme-light2 {
	--color1: #f2e9e4;
	--color2: #c9ada7;
	--color3: #4a4e69;
	--color4: #22223b;
	--color5: #9a8c98;
	--init: #ffffff;
	--dock: #22223b88;
}

* i {
	font-family: "FontAwesome", sans-serif;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--init);
}

.main {
	height: 100vh;
	min-height: 500px;
}

.home {
	background-color: var(--color1);
	transition: 1s;
}

.home {
	width: 100%;
	background-image: url("./background-1789175.png");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.work {
	transition: 1s;
	background-color: var(--color2);
}

.contact {
	transition: 1s;
	background-color: var(--color1);
}

.card {
	color: var(--color4);
	max-width: 800px;
	width: 55vw;
	background-color: var(--color2);
	border-radius: 5px;
}

.card-header {
	font-size: 2.4rem;
	padding: 40px;
	font-weight: bold;
}

.card-container {
	font-size: 1rem;
	padding: 40px;
}

.card-action {
	margin-top: 30px;
}

.card-action button {
	width: 100%;
	background: var(--color3);
	height: 50px;
	color: var(--color1);
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.card-action button:hover {
	background: var(--color5);
	color: var(--color4);
	transition: 0.1s;
}

.sub-cards {
	max-width: 800px;
	width: 55vw;
	display: grid;
	margin-top: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 10px;
}

.sub-card {
	text-decoration: none;
	color: var(--color4);
	background-color: var(--color2);
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 1rem;
}

.sub-card:hover {
	background-color: var(--color3);
	transition: 0.1s;
	color: var(--color2);
}

.sub-card:hover .secondary-info {
	color: var(--color2);
	transition: 0.1s;
}

.sub-card .secondary-info {
	color: var(--color4);
}

@media only screen and (max-width: 550px) {
	.home {
		flex-direction: column;
	}

	.sub-cards {
		margin-top: 15px;
	}

	.sub-cards {
		width: 95vw !important;
	}

	.card-header {
		font-size: 1.4rem !important;
		padding: 20px !important;
	}

	.card-container {
		font-size: 1rem !important;
		padding: 20px !important;
	}

	.card {
		width: 95vw !important;
	}

	.sub-card {
		margin-left: 0 !important;
	}

	.nav span {
		display: none;
	}

	.sub-cards {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr !important;
		grid-column-gap: 0;
	}

	.nav ul {
		width: 100vw;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.project-card {
		grid-template-areas:
			"image image"
			"text text"
			"links links" !important;
		grid-template-rows: 1fr 1fr 0.2fr !important;
		grid-template-columns: 1fr 1fr !important;
	}

	.project-text {
		border: none !important;
	}

	.project-links {
		border-left: none !important;
	}

	.breaker {
		display: none !important;
	}

	.nav {
		bottom: 0 !important;
	}

	.theme-div {
		top: 0 !important;
	}

	.theme-button {
		color: var(--color1) !important;
	}
}

.breaker {
	display: none !important;
}

@media only screen and (max-width: 850px) {
	.breaker {
		display: unset !important;
	}
}

.loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1;
	background-color: var(--color2);
	z-index: 99;
	text-align: center;
}

.container {
	display: grid;
	grid-template-rows: 9fr 1fr;
	max-height: 100vh;
	width: 100vw;
}

.nav {
	transition: 1s;
	width: 100vw !important;
	display: flex;
	flex-direction: row;
	bottom: -55px;
	position: fixed;
}

.nav:hover {
	bottom: 0;
}

.nav li {
	float: left;
	border-bottom: 2px solid var(--color4);
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: auto;
	background-color: var(--dock);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nav a {
	display: block;
	color: var(--color1);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.project-card {
	margin: 10px;
	display: grid;
	grid-template-areas:
		"image text"
		"image links";
	grid-template-rows: 9fr 1fr;
	grid-template-columns: 2fr 1fr;
	background: var(--color1);
}

.project-image {
	grid-area: image;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.project-text {
	border-left: 3px solid var(--color2);
	grid-area: text;
	color: var(--color4);
}

.project-links {
	border-left: 3px solid var(--color2);
	grid-area: links;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 2px solid var(--color3);
}

.project-button {
	text-decoration: none;
	color: var(--color3);
	text-align: center;
	margin: auto;
}

.projects {
	padding: 100px;
	display: grid;
}

.project-text-header {
	font-weight: bold;
	padding: 10px;
	font-size: 1.5rem;
}

.project-text-info {
	padding: 10px;
	font-size: 1rem;
}

.project-text-list {
	list-style: none;
	padding-left: 5px;
}

.tag {
	margin-left: 5px;
	font-size: 1rem;
	font-weight: normal;
	color: gray;
}

.sub-link {
	display: flex;
	align-items: center;
}

.sub-link-i {
	font-size: 20px;
	margin-right: 10px;
}

.theme-div {
	position: fixed;
	width: 100vw;
	display: flex;
}

.theme-div {
	transition: 1s;
	top: -25px;
}

.theme-div:hover {
	transition: 1s;
	top: 0 !important;
}

.theme-div:hover .theme-button {
	transition: 1s;
	color: var(--color1);
}

.theme-button {
	transition: 1s;
	color: var(--color4);
	cursor: pointer;
	background-color: var(--color4);
	border: none !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 30px;
	margin: auto;
}

.sub-card-grid {
	display: grid;
	grid-template-columns: 1fr 9fr;
}

.sub-card-info {
	padding: 6px;
}

.sub-link-i {
	padding-left: 15px;
}

.secondary-info {
	padding-top: 0 !important;
	color: gray;
	font-size: 13px;
}

.title {
	font-size: 50px;
	color: var(--color4);
	font-weight: bold;
	margin-bottom: 100px;
}

.animation {
	-webkit-animation: seconds 2s forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 1s;
	animation: seconds 2s forwards;
	animation-iteration-count: 1;
	animation-delay: 1s;
}
@-webkit-keyframes seconds {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -25px;
	}
}
@keyframes seconds {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -25px;
	}
}

.welcome {
	margin-top: 25rem;
	font-size: 100px;
	color: var(--color4);
}